{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Calendar</title>
    <!-- Include Bootstrap CSS (you may need to adjust the path) 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    -->
    <style>
        .calendar {
            width: 100%;
            margin: 0 auto;
            height: 500px;
            border: 1px solid #192430;
        }
        .table {
            border: 1px solid #192430;
            height: 100%
        }
        th {
            text-align: center;
            border: 1px solid #192430;
            font-size: 19px; /* Increased font size for day numbers */
        }
        td {
          text-align: left;
          border: 1px solid #192430;
        }
        td strong {
            font-size: 18px; /* Increased font size for day numbers */
        }
    </style>
{% endblock %}

{% block content %}
<body>

<div class="container mt-4">
    <p>Calendar</p>
</div>
<div class="container mt-4">
    <h2>Monthly Calendar</h2>
    <div class="calendar">
        <table class="table">
            <thead>
            <tr>
                <th colspan="7">{{ month }} {{ year }}</th>
            </tr>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            </thead>
            <tbody>
            {% for week in cal_data %}
            <tr>
                {% for day in week %}
                <td>
                    {% if day.day > 0 %}
                        <strong>{{ day.day }}</strong><br>
                        {% for appointment in day.appt %}
                            {{ appointment.title }}<br>
                        {% endfor %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Include Bootstrap JS (you may need to adjust the path) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>

{% endblock %}