<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/style.css">

<div class="container">
    <div class="header-container"></div>
	    <img style="border-radius:50px"src="/static/banner_test_4.png" height="300" width="100%"></img>
	    <div class="overlay-text" align="center">
		    <!-- <font font-family: sans-serif> -->
		    <!-- This will be generated in the future based on what user inputs -->
		    <h1 id="homepage-heading">NYC/NJ Metro Area Doggy Stays and Camp</h1>
		    <h2> Serving The New York and New Jersey area for over 10 years!</h2>
		    <!--- </font> -->
	        <img style="border-radius:50px" src="/static/6401708d17bca_Toonpet_Logo-01-1.png" height=auto width=auto></img>
        </div>
	    <div class="col-sm-3">
	    <a href="/"> <button style="color:black" type="button" class="btn-lg btn-block btn-secondary">Home</button></a>
	    </div>
	    <div class="col-sm-3">
	    <a href=""> <button style="color:black" class="btn-lg btn-block btn-secondary">About Us</button></a>
		</div>
	    <div class="col-sm-3">
	    <a href="/reviews"> <button style="color:black" class="btn-lg btn-block btn-secondary">Reviews</button></a>
	    </div>
	    <div class="col-sm-3">
	    <a href="/login"> <button style="color:black" class="btn-lg btn-block btn-secondary">Login</button></a>
	    </div>
		<!--
	    <div class="col-sm-3">
	    <a href="/owner_login"> <button style="color:black" class="btn-lg btn-block btn-secondary">Admin Login</button></a>
	    </div>
		-->
    </div>
</div>
{% block head %}

{% endblock %}
</head>

	<body background="/static/whitey.png"><script src="https://code.jquery.com/jquery.js"></script>
	<div class= "container">
		{% block content %}
      
  		{% endblock %}
  	</div>

	</body>
</html>
